/home/.config/wpg/.current
/home/.config/wpg/wallpapers/*
/home/.config/hypr/monitors.conf
/home/.config/hypr/workspaces.conf
/home/codesnips/*
/home/KlintoE/dotfiles/home/Wallpapers/.current
/home/KlintoE/dotfiles/home/.config/wpg/.current
